.techContainer{
 display: flex;   
 flex-wrap: wrap;
 margin-top: 10px;
 align-items: center;
}
.techContainer>div{
    color: white;
    margin: 10px 0;
    width:12%;
    border-radius: 5px;
    padding: 3px 6px;
}
.techContainer>div>img{
    width: 100%;
}