.techContainer{
 display: flex;   
 flex-wrap: wrap;
}
.techContainer>div{
    color: white;
    margin: 10px 10px 0px 0;
    border-radius: 5px;
    padding: 3px 6px;
    background-color: #e47b92;
}