.wrapper{
margin-top: 60px;
}
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 500px;
    margin: auto;
    padding: 20px;
}
.imgBox>img{
    width: 120px;
    border-radius: 50%;
}
.myName{
    font-size: 40px;
    text-align: center;
    margin: 20px 0;
}
.myName>span{
    color: #AD46A8;
}
.title{
    font-size: 20px;
    text-align: center;
    margin: 20px 0;
}
.title>span{
    color: #AD46A8;
}
.descrip{
    text-align: center;
}
.container>button{
    border: none;
    outline: none;
    color: white;
    display: flex;
    align-items: center;
    background-color: #AD46A8;
    padding: 8px 15px;
    cursor: pointer;
    border-radius: 3px;
    margin: 20px 0;
    font-size: 15px;
}
.container>button svg{
    fill: #FFF;
    margin-right: 5px;
}