.container{
    width: 80%;
    margin: auto;
    margin-bottom: 30px;
    max-width: 1100px;
    text-align: center;
    border-radius: 5px;
    padding: 30px 0;
    background-color: white;
    box-shadow: 0 2px 5px 1px rgb(64 60 67 / 16%);
}
.container>h2{
    margin-bottom: 10px;
}
/* .grid{
    display: grid;
    grid-template-columns: 12% 12% 12% 12%;
    justify-content: space-evenly; 
} */
.grid>div img{
    width: 100%;
}
.container p{
    font-size: 15px;
}