.wrapper{
    border: solid #e7e7e7 1px;
    background-color: #FAFAFA;
    margin-bottom: 30px;
}

.container{
    display: grid;
    grid-template-columns: 50% 40%;
    justify-content: center;
    max-width: 1250px;
    margin: auto;
}
.container>div{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    /* border: solid red; */
}
.imgBox>img{
    width: 50%;
}
.textBox>h2{
    margin-bottom: 10px;
}
@media only screen and (max-width: 600px) {
    .container{
     grid-template-columns: 100%;
    }
    .imgBox>img{
        width: 30%;
    }
}