.wrapper {
  border-bottom: solid #e7e7e7 1px;
  background-color: #fafafa;
  margin-bottom: 30px;
}
.wrapper>h1{
  text-align: center;
  margin-top: 30px;
  font-size: 35px;
  color: #CC4865;
}

.container {
  display: grid;
  grid-template-columns: 45% 55%;
  justify-content: space-between;
  max-width: 1100px;
  width: 80%;
  margin: auto;
  /* border: solid; */
}
.container > div {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  /* border: solid green; */
}
.imgBox{
  /* border: solid; */
  justify-content: start;
  text-align: right;
}

.imgBox > img {
  width: 100%;
}
.textBox > h2 {
  margin-bottom: 10px;
}
.textBox >p{
  font-size: 20px;
}
.iconBox {
  margin-top: 20px;
}
.linkedIn svg {
  fill: #0a66c2;
}
.gitHub svg {
  fill: #24292f;
}
.twitter svg {
  fill: #1d9bf0;
}
@media only screen and (max-width: 600px) {
  .container {
    grid-template-columns: 100%;
  }
  .imgBox > img {
    width: 50%;
  }
  .iconBox {
    width: fit-content;
    margin: auto;
    margin-top: 20px;
  }
  .textBox{
    text-align: center;
  }
}
